.wbdv-sticky-nav-bar {
    background-color: lightblue;
    padding: 10px;
    position: fixed;
    width: 100%;
}

/*.color-blue {*/
/*    color:blue;*/
/*}*/

.editor-navbar-background {
    background-color: grey;
}

.editor-navbar-pills-background {
    background-color: black;
}

.editor-module-list-background {
    background-color: black;
}

.editor-module-list {
    background-color: black;
    /*margin: auto;*/
    padding: 16px;
}